<!doctype html>
<html lang="en" ng-app="ToDo">
  <head>
    <meta charset="utf-8">
    <title>ToDo List App</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoController.js"></script>
    <style>
    .complete{text-decoration: line-through;color:#ccc;}
    </style>
  </head>

  <body >
    <div ng-controller="ToDoController">
        <form name='form' ng-submit='submitTodo()'>
          <br>
          <input type='text' name='newtodo' ng-model='newTodo' required />
          <button ng-disabled='frm.$invalid'>Submit</button>
        </form>
        <br>
        <button ng-click ='clearCompletedTasks()'>Clear Completed Tasks</button>
        <button ng-click ='completedTasks()'>View Completed Tasks</button>
        <button ng-click ='allTasks()'>View All Tasks</button>

        <ul>
          <br>
          <li ng-repeat="todo in todos | filter:myfilter">
            <input type='checkbox' ng-model='todo.complete' />
            <span ng-class="{'complete':todo.complete}"> {{todo.title}}</span>
          </li>
        </ul>
    </div>

  </body>
</html>
